* {
  box-sizing: border-box;
}
body {
  border: 0;
  margin: 0;
}
#hero,
#tin {
  height: 530px;
}
.container .navbar,
.offcanvas-header {
  background-color: #e1e2ef;
}
.container-fluid img {
  display: flex;
  margin-right: 30px;
  height: 50px;
}
#hero h2,
#tin h2 {
  margin-top: 80px;
  text-align: center;
}
#hero li,
#tin li {
  text-align: center;
  list-style: none;
}

#hero .alk {
  display: flex;
  position: absolute;
  width: 300px;
  height: auto;
  justify-content: end;
}
footer {
  text-align: center;
  padding-bottom: 10px;
}
