* {
  box-sizing: border-box;
}
body {
  border: 0;
  margin: 0;
}
.container-fluid img {
  display: flex;
  margin-right: 30px;
  height: 50px;
}
section#services .form {
  max-width: 500px;
  margin: auto;

  border-radius: 10px;
  background-color: rgba(225, 225, 225, 0.5);
  backdrop-filter: blur(50px);
}
section#services h3,
p {
  text-align: center;
}
