* {
  box-sizing: border-box;
}
body {
  border: 0;
  margin: 0;
}
#hero {
  margin: 20px;
}
.container-fluid img {
  display: flex;
  margin-right: 30px;
  height: 50px;
}
#hero h3 {
  text-align: center;
  margin: 70px 0 20px 0;
}
footer {
  text-align: center;
  padding-bottom: 10px;
  background-color: #e1e2ef;
}
