* {
  box-sizing: border-box;
}
body {
  border: 0;
  margin: 0;
}
#hero {
  height: 100vh;
  margin-top: 5px;
  margin: 20px;
}
.container-fluid img {
  display: flex;
  margin-right: 30px;
  height: 50px;
}
