* {
  box-sizing: border-box;
}
body {
  border: 0;
  margin: 0;
}

section {
  height: 100vh;
  scroll-margin-top: 80px;
}
section #home {
  position: relative;
}
.container-fluid img {
  height: 50px;
}
#home img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  height: auto;
  width: 200px;
}
section#about h2,
section#services h2 {
  display: flex;
  text-align: center;
  justify-content: center;
  color: rgb(7, 7, 115);
}
section#about .abttext {
  font-size: 1rem;
  text-align: center;
  padding: 20px;
}
section#services h5 .serv {
  display: flex;
  align-items: center;
  justify-content: center;
}
section#contact form {
  border: 2px solid black;
}
section#contact button {
  border: none;
  padding: 5px;
  margin-top: 2vh;
}

@media screen and (min-width: 425px) {
  #home img {
    display: flex;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    height: auto;
    width: 400px;
  }
}
